		
<center><table border="10">
	<thead>
		<th>name</th>
		<th>age</th>
		<th>bgroup</th>
		<th>gender</th>
		<th>contact</th>
		
	</thead>
	<tbody>
	
		<tr>
			<td><%= @p.name %></td>
			<td><%= @p.age %></td>
			<td><%= @p.bgroup %></td>
			<td><%= @p.gender %></td>
			<td><%= @p.contact %></td>
		</tr>
	</tbody>
</table>	
<a href="/blooddetails">Home</a></center>
<<!DOCTYPE html> 
<html> 
<head> 
 <title></title> 
</head> 
<style type="text/css"> 
 body 
 { 
      margin: 0; 
      padding: 0; 
      background: #F57AEB;  
 } 
 .des 
 { 
       width: 620px; 
  position: absolute; 
  top: 20%; 
  left: 33%; 
 } 
 .des h1 
 { 
   
  border-bottom: 6px solid #4caf50; 
  font-size: 40px; 
  margin-bottom: 40px; 
  padding: 20px 0; 
 } 